:root {
    --min-sidebar-width: 300px;
}

.game-layout {
    --board-size: min(90vh, calc(100cqw - 2 * var(--min-sidebar-width)));
    --sidebar-width: calc(0.4 * (100cqw - var(--board-size)));

    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 90vh;
}

.chat-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--sidebar-width);
    padding-right: 20px;
}

.board-panel {
    width: var(--board-size);
    height: var(--board-size);
}

.move-panel {
    max-height: 90vh;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-actions {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
}

.resign-button-active {
    background-color: #e3672d;
    color: white;
    border: 1px solid white;
}

.not-found {
    display: flex;
    justify-content: center;
}